.data {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.div_line {
  display: flex;
  justify-content: center;
}

.line {
  width: 940px;
  border-top: 1px solid black;
}
